@CHARSET "UTF-8";

/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:1em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

a{
	text-decoration: none;
}

div#wrap {
width : 800px;
border : 1px solid #5CE6B8;
margin-right: auto;
margin-left: auto;
margin-top: 30px;
}


#formArea{
	margin: auto;
	padding: 10px 4px;
	width: 70%;
	text-align: center;
}

#makeTitleArea{
	height: 30px;
}

#attachmentArea{
	
	margin-up: 10px;
	margin-bottom: 10px;
}

#formArea textarea{
	width: 80%;
	resize: none;
	margin: 10px 0px;
}
/*inline element는 text-align으로 정렬하는 것이 굳굳*/


#saveArea{
	padding:auto;
	margin-top:0px;
	margin-bottom:30px;
}


section {
	margin: auto;
	padding: 10px 4px;
	
	/*border: 1px solid #5CE6B8;*/
	width: 70%;
}

header{
	padding: 5px 0px;
	width: 100%;
	height: 30px;
}

header a{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

#confirm{
	border: 1px solid #5CE6B8;
	padding: 5px; 
}

.titleArea{
	clear: right;
	font-size: 1.3em;
	margin-left: 2px;
}


#imageArea{
	margin: 5px auto;
	border: 1px solid #5CE6B8; 
	text-align: center;
}

img {
	max-width: 300px;
	max-height: 300px;
}

#contentsArea{
	margin-top:15px;
	margin-left: 2px;

}

.commentsArea{
	border: 1px solid #5CE6B8;
	 
}

.commentsList {
	border-top: 1px solid #5CE6B8;
	border-bottom: 1px solid #5CE6B8;
	margin-top: 35px;
	margin-bottom: 10px; 
	
}

.commentsList > div *{
	display:inline-block;
}

.commentsBody{
	display: none;
}

/*이거 어케 하냠
.commentsList comment {
	border-bottom: 1px solid #5CE6B8;
	padding: 5px auto;
}
*/

.comment-reply textarea{
	resize: none;
	width: 100%; /*size 맞추려면 어케 해야되는지*/
}

.commentNumArea *{
	display:inline-block;
}

.comment-reply button{
	float: right;
}

footer{
	
}